<footer>
  <div>
    <p>Sitio desarrollado por <a href="https://gaston-gaitan.web.app/">Gastón Gaitán</a></p>
  </div>

  <div >
    <ul id="btn-container">
      <li class=" nav-item active">
        <a class="nav-link" id="link-animado" href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
            src="../../../assets/linkedin.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" id="link-animado" href="https://www.instagram.com/pitu_gaitan/"><img
            src="../../../assets/instagram.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" id="link-animado" href="https://github.com/Gaston1905"><img
            src="../../../assets/github.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" id="link-animado" href="https://www.facebook.com/pitu.pitu.7982/"><img
            src="../../../assets/facebook.png"></a>
      </li>
    </ul>
  </div>
</footer>
