<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Repositorios
          </mat-panel-title>
        </mat-expansion-panel-header>
          <a mat-list-item href="/zero">Conicet</a>
          <a mat-list-item href="/one">UBA</a>
          <a mat-list-item href="/two">UNR</a>
          <a mat-list-item href="/three">UTN</a>
          <a mat-list-item href="/four">FLACSO</a>
          <a mat-list-item href="/five">UNAV</a>
          <a mat-list-item href="/six">UNTREF</a>
          <a mat-list-item href="/seven">UNLU</a>
          <a mat-list-item href="/eigth">UNIPE</a>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Area Personal
          </mat-panel-title>
        </mat-expansion-panel-header>
          <a mat-list-item href="/zero">Conicet</a>
          <a mat-list-item href="/one">UBA</a>
          <a mat-list-item href="/two">UNR</a>
          <a mat-list-item href="/three">UTN</a>
          <a mat-list-item href="/four">FLACSO</a>
          <a mat-list-item href="/five">UNAV</a>
          <a mat-list-item href="/six">UNTREF</a>
          <a mat-list-item href="/seven">UNLU</a>
          <a mat-list-item href="/eigth">UNIPE</a>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preferencias
          </mat-panel-title>
        </mat-expansion-panel-header>
          <a mat-list-item href="/zero">Conicet</a>
          <a mat-list-item href="/one">UBA</a>
          <a mat-list-item href="/two">UNR</a>
          <a mat-list-item href="/three">UTN</a>
          <a mat-list-item href="/four">FLACSO</a>
          <a mat-list-item href="/five">UNAV</a>
          <a mat-list-item href="/six">UNTREF</a>
          <a mat-list-item href="/seven">UNLU</a>
          <a mat-list-item href="/eigth">UNIPE</a>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


      <mat-toolbar color="primary">
        <span>Búsquedas Académicas</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn">Ingresar</button>
        <button mat-raised-button color="accent">Registrarme</button>
      </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-home></app-home>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
