<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Repositorios
          </mat-panel-title>
        </mat-expansion-panel-header>
          <a mat-list-item href="/zero">Conicet</a>
          <a mat-list-item href="/one">UBA</a>
          <a mat-list-item href="/two">UNR</a>
          <a mat-list-item href="/three">UTN</a>
          <a mat-list-item href="/four">FLACSO</a>
          <a mat-list-item href="/five">UNAV</a>
          <a mat-list-item href="/six">UNTREF</a>
          <a mat-list-item href="/seven">UNLU</a>
          <a mat-list-item href="/eigth">UNIPE</a>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Area Personal
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dashboard
            </mat-panel-title>
          </mat-expansion-panel-header>
            <a mat-list-item href="/dashboard">Principal</a>
            <a mat-list-item href="/diary">Agenda</a>
            <a mat-list-item href="/zero">Historial</a>
            <a mat-list-item href="/grades">Notas</a>
            <a mat-list-item href="/statistics">Estadísticas</a>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Métodos / Aprendizaje
            </mat-panel-title>
          </mat-expansion-panel-header>
            <a mat-list-item href="/zero">Metodologías</a>
            <a mat-list-item href="/one">Configurar</a>
        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preferencias
          </mat-panel-title>
        </mat-expansion-panel-header>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ajustes de Cuenta
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item href="/zero">Perfil</a>
              <a mat-list-item href="/one">Usuario</a>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accesibilidad
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item href="/zero">Perfil</a>
              <a mat-list-item href="/one">Usuario</a>
          </mat-expansion-panel>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


      <mat-toolbar color="primary">
        <span>Búsquedas Académicas</span>


      </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-home></app-home>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
