footer {
  position: sticky;
  bottom: 0;
  left: 50%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #E0E0E0;
}

p {
  padding-left: 1em;
}

li {
  list-style: none;
  margin-left: -1.5em;
}

li img {
  margin-top: .3em;
  width: 30px;
  height: 30px;

  &:hover {
    transform: scale(1.2);
  }
}

#btn-container {
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
}
